@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
    font-family: "Poppins", sans-serif;
    --primary-color: rgb(53, 50, 56);
    --light-text: #d3dedc;
    --secondary-color: rgb(221, 110, 66);
    --sidebar-color: #0d363d;
}


/* Declaring Utility Classes */

.btn {
    border: none;
    background-color: var(--secondary-color);
    color: #fff;
    padding: 0.25rem;
    font-weight: 500;
    border-radius: 2rem;
}

.btn-light {
    background-color: #fff;
    color: black;
    border: 1px solid black;
    border-radius: 2rem;
}

.pointer {
    cursor: pointer;
}

.accented {
    color: var(--secondary-color);
}

.hidden {
    display: none;
}

.transparent {
    background-color: transparent;
}

.bg-blue {
    background-color: var(--primary-color);
}

.text-center {
    text-align: center;
}

.font-semibold {
    font-weight: 600;
}

.w-full {
    width: 100%;
}

.p-0 {
    padding: 0;
}

.shrink-0 {
    flex-shrink: 0;
}

.flex {
    display: flex;
    gap: var(--gap, 0.5rem);
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.gap-1 {
    --gap: 0.25rem;
}

.gap-2 {
    --gap: 0.5rem;
}

.gap-3 {
    --gap: 0.75rem;
}

.gap-4 {
    --gap: 1rem;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.overflow-hidden {
    overflow: hidden;
}

.bg-white {
    background-color: #fff;
}

.text-white {
    color: #fff;
}

.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.transition {
    transition: 200ms ease-in-out;
}


/* End of Utility Classes */


/* General Tag Declarations */

html {
    scroll-behavior: smooth;
}

svg {
    width: 20px;
}

li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    min-width: 100%;
    min-height: 100vh;
}


/* Sidebar */

.sidebar {
    background-color: var(--primary-color);
    position: fixed;
    right: 0;
    width: 100vw;
    /* opacity: 0; */
    height: 100vh;
    z-index: 1000;
    top: 91px;
    transform: translateX(100%);
}

.sidebar-head {
    padding: 1.5rem 2.5rem;
}

.menu-close-btn>svg:hover {
    transform: scale(110%);
    transform-origin: initial;
}

.menu-close-btn>svg {
    margin-right: 0.5rem;
    min-width: 2rem;
    transition: 200ms ease-in-out;
    display: grid;
    place-items: center;
}

.enter-exam-sidebar {
    padding-top: 0.5rem;
    padding-left: min(2.5rem, 5vw);
    --gap: 0;
}

.sidebar-sign-in {
    padding-top: 2rem;
    padding-left: min(2.5rem, 5vw);
    padding-right: 2rem;
    --gap: 1rem;
}

.sidebar-sign-in p {
    font-weight: 500;
}

.sidebar-sign-in button {
    font-size: 14px;
    font-weight: 500;
    padding: 0.5rem min(3rem, 5vw);
    width: 45.5%;
    margin-bottom: 0.5rem;
    border-radius: 2rem;
    color: #fff;
    border: 1px solid #fff;
}

.sidebar-sign-in button:last-child {
    background-color: #fff;
    color: var(--primary-color);
}

.sidebar-sign-in button:hover {
    color: var(--secondary-color);
}

.sidebar-links {
    margin-top: 3rem;
    max-width: 90%;
}

.sidebar-links>ul {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.sidebar-links li {
    padding-bottom: 1rem;
    border-bottom: 0.5px solid rgba(150, 150, 150, 0.4);
}

.sidebar-links a {
    display: block;
    transition: 200ms ease-in-out;
}

.sidebar-links a:hover {
    color: var(--secondary-color);
}


/* Sidebar End */


/* Mobile Header */

header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    padding: 1.5rem 2.5rem;
    color: #fff;
    z-index: 100;
    transition: background-color 200ms linear;
}

.menu-btn {
    min-width: 2rem;
    transition: 200ms ease-in-out;
    display: grid;
    place-items: center;
}

.menu-btn>svg {
    width: 2rem;
}

.menu-btn:hover {
    transform: scale(110%);
}

.logo {
    width: 100px;
}


/* Desktop Header */

.header {
    display: none;
    transition: 250ms ease-in-out;
    z-index: 100;
}

.enter-exam-head {
    display: none;
}


/* Content Section */

.main-container {
    background-image: url("../resources/images/how_it_works/how_bg.jpg");
    background-position: center;
    background-size: cover;
    height: 80vh;
}

.about_us_text {
    max-width: 80%;
    /* margin: 8rem 8rem;*/
    margin: 8rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.how-title {
    margin: 4rem 0rem;
}

.text-content {
    padding-inline: 4rem;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.img-content {
    min-width: 50%;
    min-height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-content>img {
    height: 360px;
}

.try-it-btn {
    padding: 0.5rem 3.5rem;
    border: 1px solid var(--secondary-color);
}

.try-it-btn:hover {
    background-color: #fff;
    color: var(--secondary-color);
    border: 1px solid var(--light-text);
}

.how-btn {
    padding: 0.5rem 3.5rem;
}

.how-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
    border: 1px solid var(--light-text);
}

h1 {
    font-size: clamp(1rem, 10vw, 3rem);
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.intro-content {
    background-color: var(--primary-color);
    padding-inline: 1rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
}

.intro-content>p {
    font-size: 1rem;
    line-height: 2;
    margin-bottom: 2rem;
}

.enter-exam-intro {
    padding-top: 0.5rem;
    margin-bottom: 2rem;
}

.enter-exam-input {
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    z-index: 1;
    margin-top: 1.5rem;
}

#exam-key {
    background-color: rgb(231, 230, 230);
    width: 90%;
    height: 2.5rem;
    border-radius: 2rem;
    flex: 1;
    padding-inline: 1rem;
    font-size: 12px;
    border: none;
}

.enter-exam-btn {
    display: flex;
    justify-content: center;
    position: absolute;
    width: max(8rem, 35vw);
    border-radius: 1.5rem;
    font-size: 12px;
    height: 80%;
    padding-inline: 3rem;
    top: 50%;
    transform: translatey(-50%);
    align-self: flex-end;
    margin-right: 0.25rem;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: #fff;
    transition: 200ms ease-in-out;
}

.enter-exam-btn:hover {
    background-color: #fff;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

.enter-exam-label {
    margin-top: 0.5rem;
}

.intro-btn {
    display: block;
    width: 95%;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: #fff;
    font-weight: 600;
    margin-block: 0.5rem;
    align-self: center;
    border-radius: 2rem;
    padding: 1rem;
    font-size: 14px;
    transition: 200ms ease-in-out;
}

.intro-btn:hover {
    background-color: var(--primary-color);
    border: 1px solid #fff;
}

.intro-btn:last-child {
    background-color: var(--primary-color);
    border: 1px solid #fff;
    transition: 200ms ease-in-out;
}

.intro-btn:last-child:hover {
    background-color: #fff;
    border: 1px solid #fff;
    color: var(--primary-color);
}


/* Intro Section End */

footer {
    background-color: var(--primary-color);
}

.footer-nav {
    padding: 1rem 2rem;
}

.footer-nav li {
    margin-block: 0.25rem;
    font-size: 18px;
}

.foot-section {
    background-color: var(--secondary-color);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 1.5rem;
    gap: 1rem;
}

.up-btn {
    border-radius: 50%;
    border: 1px solid black;
    background-color: var(--secondary-color);
    width: 30px;
    aspect-ratio: 1;
    position: relative;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.up-btn:hover {
    color: #fff;
    background-color: var(--primary-color);
}

.up-btn>svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: inherit;
}

@media (min-width: 768px) {
    .intro-section {
        display: flex;
        flex-direction: row-reverse;
    }
    .intro-content {
        padding-top: 7rem;
    }
    .hero {
        min-width: 50%;
    }
    .enter-exam-intro {
        max-width: 100%;
    }
    .enter-exam-btn {
        width: max(6rem, 22.5vw);
    }
    .card-list {
        flex-direction: row;
        max-width: max(85%, 55rem);
    }
    .card-text {
        min-width: min(100%, 10rem);
    }
    .subject-details-container {
        display: flex;
        justify-content: center;
        gap: max(2rem, 2vw);
        max-width: 90%;
    }
    .subject-text-section {
        max-width: 50%;
    }
    .subject-details {
        max-width: 50%;
    }
    .subject-details-btn {
        width: 50%;
        flex-shrink: 0;
        margin-top: 4rem;
    }
    .subject-details-btn-two {
        width: 50%;
        flex-shrink: 0;
    }
    footer {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-nav {
        display: flex;
        justify-content: center;
        gap: max(8rem, 15vw);
        width: 75%;
    }
    .footer-menu h3 {
        text-align: center;
    }
    .footer-menu ul {
        line-height: 2;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 1.5rem;
    }
    .foot-section {
        min-width: 100%;
        flex-shrink: 0;
    }
}

@media (min-width: 1150px) {
    .sidebar {
        display: none;
    }
    h1 {
        margin-top: 1rem;
        font-size: 4rem;
        line-height: 1.25;
    }
    h1>span {
        font-size: 2.5rem;
    }
    header {
        display: none;
    }
    .header {
        min-width: 100%;
        display: flex;
        position: fixed;
        justify-content: space-between;
        padding-inline: 3rem;
    }
    .header-left {
        min-width: 50%;
        padding-left: min(3.5rem, 2.5vw);
    }
    .header-right {
        min-width: 50%;
        padding-left: 1rem;
    }
    .intro-content {
        padding-top: 10rem;
        padding-left: min(8rem, 6vw);
        padding-right: 1rem;
    }
    .header-left .logo {
        margin: 1rem;
    }
    .primary-nav {
        padding-inline: 1rem;
    }
    .primary-nav>* {
        padding: 0.5rem;
    }
    .primary-nav li:hover {
        border-bottom: 2px solid #fff;
    }
    .nav-active {
        border-bottom: 2px solid #fff;
    }
    .enter-exam-head {
        width: min(30rem, 25vw);
        display: flex;
        justify-content: center;
    }
    .enter-exam-head-btn {
        width: min(10rem, 8vw);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
    }
    .enter-exam-intro {
        display: none;
    }
    .sign-in {
        margin-top: 1.5rem;
    }
    .sign-in button {
        font-size: 14px;
        font-weight: 500;
        padding: 0.5rem min(1.25rem, 1vw);
        margin-bottom: 0.5rem;
        border-radius: 2rem;
        background-color: transparent;
        color: #fff;
        border: 1px solid #fff;
        transition: 250ms ease-in-out;
    }
    .sign-in button:hover {
        color: var(--secondary-color);
    }
    .sign-in p {
        font-weight: 500;
    }
}