@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  font-family: "Poppins", sans-serif;
  --primary-color: rgb(53, 50, 56);
  --light-text: #d3dedc;
  --secondary-color: rgb(221, 110, 66);
  --sidebar-color: #0d363d;
}
.btn {
  border: none;
  background-color: var(--secondary-color);
  color: #fff;
  padding: 0.25rem;
  font-weight: 500;
  border-radius: 2rem;
}
.btn-light {
  background-color: #fff;
  color: black;
  border: 1px solid black;
  border-radius: 2rem;
}
.accented {
  color: var(--secondary-color);
}
.hidden {
  display: none;
}
.transparent {
  background-color: transparent;
}
.bg-blue {
  background-color: var(--primary-color);
}
.text-center {
  text-align: center;
}
.font-semibold {
  font-weight: 600;
}
.w-full {
  width: 100%;
}
.p-0 {
  padding: 0;
}
.shrink-0 {
  flex-shrink: 0;
}
.flex {
  display: flex;
  gap: var(--gap, 0.5rem);
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.gap-1 {
  --gap: 0.25rem;
}
.gap-2 {
  --gap: 0.5rem;
}
.gap-3 {
  --gap: 0.75rem;
}
.gap-4 {
  --gap: 1rem;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.overflow-hidden {
  overflow: hidden;
}
.bg-white {
  background-color: #fff;
}
.text-white {
  color: #fff;
}
.text-primary {
  color: var(--primary-color);
}
.text-secondary {
  color: var(--secondary-color);
}
.transition {
  transition: 200ms ease-in-out;
}
