@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
:root {
  font-family: "Poppins", sans-serif;
  --primary-color: rgb(53, 50, 56);
  --light-text: #d3dedc;
  --secondary-color: rgb(221, 110, 66);
  --sidebar-color: #0d363d;
  --sidebar-width: 15vw;
  --background-light: rgb(240, 240, 240);
}

/* Declaring Utility Classes */

/* .btn {
  border: none;
  background-color: var(--secondary-color);
  color: #fff;
  padding: 0.25rem;
  font-weight: 500;
  border-radius: 2rem;
}

.btn-light {
  background-color: #fff;
  color: black;
  border: 1px solid black;
  border-radius: 2rem;
} */

.pointer {
  cursor: pointer;
}

.accented {
  color: var(--secondary-color);
}

.transparent {
  background-color: transparent;
}

.bg-primary {
  background-color: var(--primary-color);
}
.bg-secondary {
  background-color: var(--secondary-color);
}

.text-center {
  text-align: center;
}

.font-semibold {
  font-weight: 600;
}

.w-full {
  width: 100%;
}

.p-0 {
  padding: 0;
}

.shrink-0 {
  flex-shrink: 0;
}

.flex {
  display: flex;
  gap: var(--gap, 0.5rem);
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.gap-1 {
  --gap: 0.25rem;
}

.gap-2 {
  --gap: 0.5rem;
}

.gap-3 {
  --gap: 0.75rem;
}

.gap-4 {
  --gap: 1rem;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.overflow-hidden {
  overflow: hidden;
}

.bg-white {
  background-color: #fff;
}

.text-white {
  color: #fff;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.transition {
  transition: 200ms ease-in-out;
}

/* End of Utility Classes */

/* Declaring general tags */
html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  height: 100%;
  overflow-x: hidden;
}
.container {
  min-height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-right: 2rem;
}
ul {
  padding: 0;
  margin: 0;
}
.logo-box {
  min-width: var(--sidebar-width);
  padding-left: min(2rem, 1vw);
  padding-block: 1rem;
  min-height: 100%;
}
.logo {
  width: 100px;
}
.nav-right {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.nav-right *:hover {
  color: var(--secondary-color);
  fill: var(--secondary-color);
}
.account {
  width: 50px;
  fill: white;
}
main {
  display: flex;
  height: 100%;
  background-color: var(--background-light);
}
.sidebar {
  min-width: var(--sidebar-width);
  color: white;
  min-height: 100vh;
  position: sticky;
  transition: all 150ms ease;
}

.list-item {
  padding-block: 1rem;
  padding-left: min(2rem, 2vw);
  transition: 150ms ease-in-out;
}
.list-item:hover {
  background-color: rgb(221, 110, 66, 0.8);
}
.list-item.active {
  background-color: rgb(221, 110, 66, 0.8);
}

/* End of General Tags */

/* Dashboard Home Styles */
.dashboard-home {
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stat-container {
  display: flex;
  justify-content: space-between;
  max-width: 70%;
  gap: 1rem;
  margin-top: 5rem;
}

.stat-container svg {
  fill: black;
}
.stat-card {
  width: max(10vw, 15rem);
  display: flex;
  align-items: center;
  padding: 1.5rem;
  background-color: #f5f5f5;
  gap: 1rem;
  transition: 200ms linear;
  box-shadow: 0px 5px 10px -10px;
}
.stat-card:hover {
  background: #e6e6e6;
  transform: scale(105%);
}

.center-content * {
  max-width: 85vw;
}

.center-content {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.active-exams,
.student-results {
  width: max(40rem, 60vw);
  box-shadow: 1px 1px 10px -5px;
}
.active-exams h1,
.student-results h1 {
  padding-block: 2rem;
}
.toggle-exam {
  padding: 0.1rem 0.5rem;
  border: 1px solid black;
  border-radius: 0.75rem;
  font-size: 12px;
  transition: 150ms ease-in-out;
  margin-left: 0.5rem;
}
.toggle-exam:hover,
.remove-exam:hover {
  background-color: var(--primary-color);
  color: white;
}
.remove-exam {
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid black;
  font-size: 12px;
  padding: 0.25rem;
  margin-left: 0.5rem;
  transition: 150ms ease-in-out;
}
.remove-exam > svg {
  width: 10px;
}
#status {
  display: flex;
  align-items: center;
}
.active-notif {
  margin-top: 1rem;
}

.exam-list-head {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  place-items: center;
  padding-block: 0.5rem;
  border-bottom: 2px solid var(--primary-color);
}
.exam-tile {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-auto-columns: max-content;
  padding-block: 1rem;
  border-bottom: 1px solid lightgray;
  transition: 100ms linear;
}
.exam-tile > * {
  width: fit-content;
}
.exam-tile:hover {
  background-color: #f5f5f5;
}
.btn-container {
  display: flex;
  justify-content: center;
  margin-block: 2rem;
}
#add-btn {
  border: 2px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  padding: 0.5rem 2rem;
  border-radius: 1.5rem;
  width: 10rem;
  margin: 0 auto;
}
#add-btn:hover {
  background-color: var(--primary-color);
  color: white;
}

/* End of dashboard styles */

/* Exam List styles */
.exam-list {
  width: 100%;
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.all-exams {
  width: max(40rem, 60vw);
  box-shadow: 1px 1px 10px -5px;
}
.all-exams h1 {
  padding-block: 2rem;
}

.search-input {
  margin-bottom: 2rem;
  display: flex;
}
#search-bar {
  border: 1px solid black;
  padding: 0.5rem 1rem;
}
#search-bar:focus {
  outline: none;
  border: 1px solid var(--secondary-color);
}
#search-btn {
  padding: 0.5rem 2rem;
  border-radius: 0;
  border: none;
  background-color: var(--secondary-color);
  color: white;
  transition: 100ms linear;
}
#search-btn:hover {
  background-color: var(--primary-color);
}
/* End of exam list styles */

/* Add Exam Styles */
.add-exam {
  width: 85vw;
  padding-block: 2rem;
  gap: 5rem;
}
.input-card {
  width: 70%;
  background-color: white;
  box-shadow: 0px 0px 12px -10px;
}
.input-card-title {
  font-weight: 400;
  font-size: 1.75rem;
  padding: 1rem;
}
.input-card-content {
  gap: 0.5rem;
  margin-top: 0.5rem;
  padding-bottom: 1rem;
}
.input-card-content p {
  width: 80%;
  margin: 0.5rem auto;
  font-size: 1.25rem;
}
#add-exam-name {
  width: 80%;
  align-self: center;
  border: 1px solid gray;
  border-radius: 0.25rem;
  background-color: var(--background-light);
  margin-top: 2rem;
  padding: 0.25rem 0.5rem;
  outline: none;
}
#add-exam-name:focus {
  border: 1px solid var(--secondary-color);
}
.input-card-content label {
  width: 80%;
  padding-bottom: 3.5rem;
}
.input-card-content > form li {
  width: 80%;
  margin: 0 auto;
}
#name {
  color: blue;
}
.information-list svg {
  width: 25px;
}
.information-list {
  display: flex;
  justify-content: center;
}
.information-list ul {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 0.75rem;
}
.info-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

#proceed-to-write {
  padding: 0.5rem 1rem;
  background-color: white;
  border: 1px solid var(--primary-color);
  transition: 150ms linear;
}
#proceed-to-write:hover {
  background-color: var(--secondary-color);
  color: white;
}
/* Write exam styles */
.write-exam {
  width: 85vw;
  background-color: var(--background-light);
  padding-top: 2rem;
  gap: 5rem;
}
.write-exam-card {
  width: 70%;
  background-color: white;
  position: relative;
  box-shadow: 0px 0px 12px -10px;
}
.write-exam-title {
  font-weight: 400;
  font-size: 1.75rem;
  padding-block: 1rem;
  padding-inline: 3rem;
}
#finalize-btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--secondary-color);
  color: white;
  background-color: var(--primary-color);
  font-size: 1rem;
  transition: 150ms ease-in-out;
}
#finalize-btn:hover {
  background-color: var(--secondary-color);
}
#finalize-btn:active {
  border: 2px solid white;
}
.write-exam-content {
  width: 80%;
  gap: 0.5rem;
  margin: 0.5rem auto;
  padding-bottom: 1rem;
}
.write-exam-content p {
  width: 80%;
  margin: 0.5rem auto;
  font-size: 1.25rem;
}
.write-exam-content span {
  font-size: 1.25rem;
  margin-block: 0.5rem;
}
#question-prompt {
  border: 2px solid var(--primary-color);
  border-radius: 0.25rem;
  max-width: 100%;
  max-height: 250px;
  padding: 0.5rem;
}
#question-prompt:focus {
  outline: none;
  border: 2px solid var(--secondary-color);
}
.write-exam-btns > button,
#remove-choice {
  background-color: var(--secondary-color);
  border: none;
  color: white;
  padding: 0.5rem;
}
#add-choice,
#remove-choice {
  border-radius: 50%;
  width: 35px;
  aspect-ratio: 1;
  transition: 150ms linear;
}
#add-choice:hover,
#remove-choice:hover,
#add-question:hover {
  background-color: var(--primary-color);
  color: white;
  fill: white;
}
#add-choice:active,
#remove-choice:active {
  border: 2px solid white;
}

#remove-choice > svg {
  transform: rotateZ(45deg);
}

#add-question {
  border-radius: 0.25rem;
  transition: 150ms linear;
}
.choice-item {
  margin-top: 0.5rem;
}
.choice-input {
  border: 2px solid var(--primary-color);
  outline: none;
  border-radius: 0.25rem;
  width: 100%;
  padding: 0.25rem;
}
.choice-input:focus {
  border: 2px solid var(--secondary-color);
  outline: none;
}
#cancel-exam {
  position: absolute;
  top: 100px;
  right: 50px;
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--secondary-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: 150ms ease-in-out;
}
#cancel-exam:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
#cancel-exam:active {
  border: 1px solid black;
}

.preview-exam {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
  display: grid;
  place-items: center;
}
.preview-content {
  position: relative;
  width: 80%;
  background-color: #fff;
  height: 100%;
  overflow-y: scroll;
  padding: 2rem 4rem;
}
.preview-btns {
  position: absolute;
  right: 10px;
  top: 30px;
}
.preview-btns button {
  border: 1px solid var(--primary-color);
  background-color: white;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  transition: 150ms ease-in-out;
}

.preview-btns button:hover,
.edit-question:hover {
  background-color: var(--primary-color);
  color: white;
}
.q-container {
  display: flex;
  flex-direction: column;
}
.edit-question {
  align-self: flex-end;
  background-color: white;
  border: 1px solid var(--primary-color);
  transition: 150ms ease-in-out;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}
.edit-modal {
  max-width: 720px;
  background-color: white;
}
.edit-choice-list {
  display: flex;
  flex-direction: column;
  width: 500px;
}
/* Results Page */
.results-page {
  width: 85vw;
}

.result-list-head {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  place-items: center;
  padding-block: 0.5rem;
  border-bottom: 2px solid var(--primary-color);
  z-index: 1000;
}

.result-tile {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  padding-block: 1rem;
  border-bottom: 1px solid lightgray;
  transition: 100ms linear;
  z-index: 1000;
}
.result-tile:hover {
  background-color: #f5f5f5;
}
.result-description {
  padding: 1rem;
  overflow-x: scroll;
  border-bottom: 1px solid black;
  transition: all 250ms ease-in-out;
}
.result-description p {
  width: 160px;
  font-size: 1.1rem;
  text-align: right;
}

.hidden {
  display: none;
}
.monospace {
  font-family: "Ubuntu Mono", monospace;
  font-size: 1.25rem;
}
.relative {
  position: relative;
}
.selected-answer {
  text-decoration: underline;
  text-decoration-color: red;
}
/* 
@media screen and (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
    width: 0;
  }
  .pages-container > * {
    min-width: 100vw;
  }
  .dashboard-home,
  .results-page,
  .add-exam,
  .write-exam,
  .exam-list {
    width: 100vw;
  }
  .center-content * {
    max-width: 100vw;
  }
  main {
    min-width: 100vw;
  }
} */
