html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* min-height: 100vh; */
}
.container {
  display: grid;
  place-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  background-image: url(../assets/backdrop2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.modal {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}
.question-item {
  display: flex;
  flex-direction: column;
}

.modal-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
form input {
  width: max(30vw, 300px);
  padding-left: 0.5rem;
  padding-block: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid black;
}
form button {
  padding-block: 0.5rem;
  background: var(--secondary-color);
  border: 1px solid black;
  border-radius: 0.25rem;
  font-weight: 500;
  font-size: 18px;
  transition: 150ms ease-in-out;
  color: white;
}
form button:hover {
  background-color: var(--primary-color);
}
main {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* height: 100vh; */
  background-color: lightgray;
}

.exam-container {
  width: 60%;
  margin: 0 auto;
  min-height: 100vh;
  background-color: white;
  padding: 1rem;
}
.choice-container {
  display: flex;
  align-items: center;
}

#exam-title {
  text-align: center;
  margin-top: 0;
  padding-top: 1rem;
}
#submit-exam {
  align-self: center;
}

.result {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: grid;
  place-items: center;
}
.result-box {
  padding: 3rem;
  background-color: white;
}
.warning-modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
}
.warning-modal-content {
  background-color: white;
  padding: 3rem;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.warning-modal-content h2 {
  font-size: 2rem;
  color: firebrick;
}
.warning-modal-content p {
  font-size: 1.25rem;
}
.warning-btns > button {
  background-color: white;
  border: 2px solid var(--primary-color);
  padding: 0.75rem;
  font-weight: 600;
  border-radius: 1rem;
  transition: 150ms ease-in-out;
}
.warning-btns > button:hover {
  background-color: var(--secondary-color);
}
.warning-btns > button:last-of-type:hover {
  background-color: firebrick;
  color: white;
}
.hidden {
  display: none;
}
